In [3]:
import pandas as pd
from datetime import datetime
from statistics import mean
import numpy as np

In [20]:
# Data import
df = pd.read_csv('/Users/amaury/Documents/!DSBA/CRP/headlines_english_arabic_countries.csv')

/var/folders/4q/7w99lfvx0cl74dtmhv3y6gfc0000gn/T/ipykernel_2552/1994063235.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/amaury/Documents/!DSBA/CRP/headlines_english_arabic_countries.csv')

In [21]:
df.head()

,gkgrecordid,date,subsourcecommonname,documentidentifier,enhancedthemes,enhancedlocations,tone,extrasxml,translationinfo
0,20151011213000-456,2.015101e+13,dailynewsegypt.com,http://www.dailynewsegypt.com/2015/10/11/tgm-m...,"ECON_WORLDCURRENCIES_DOLLAR,2612;ECON_WORLDCUR...","4#Milan, Lombardia, Italy#IT#IT09#18363#45.466...","1.76991150442478,2.54424778761062,0.7743362831...",NaN,NaN
1,20151011213000-1551,2.015101e+13,gizmodo.com.au,http://www.gizmodo.com.au/2015/10/5-ideas-that...,"MANMADE_DISASTER_IMPLIED,58;MANMADE_DISASTER_I...","3#Manhattan, New York, United States#US#USNY#N...","0.843320017754106,2.13049267643142,1.287172658...",NaN,NaN
2,20151011213000-1644,2.015101e+13,competitor.com,http://velonews.competitor.com/2015/10/news/ch...,"WB_2670_JOBS,696;WB_2815_SKILLS_AND_EDUCATION,...","4#Abu Dhabi, Abu ZÂ¸Aby, United Arab Emirates#...","4.83271375464684,4.83271375464684,0,4.83271375...",NaN,NaN
3,20151016043000-1997,2.015102e+13,daily-chronicle.com,http://www.daily-chronicle.com/2015/10/15/saud...,"GENERAL_GOVERNMENT,620;GENERAL_GOVERNMENT,4524...","4#Baghdad, Baghdad, Iraq#IZ#IZ07#36785#33.3386...","-4.35754189944134,1.11731843575419,5.474860335...",NaN,NaN
4,20151011150000-503,2.015101e+13,dailynewsegypt.com,http://www.dailynewsegypt.com/2015/10/11/sharp...,"KIDNAP,2150;EXTREMISM,2184;BORDER,2772;TAX_REL...","4#Gaza, Israel (General), Israel#IS#IS00#18315...","-9.05730129390018,0.924214417744917,9.98151571...",NaN,NaN

In [22]:
# Transforming the tone column into a list
def convert_into_list(string):
    listos = list(string.split(","))
    listos = [eval(i) for i in listos] # to get a float list
    return listos

df.tone = df.tone.apply(lambda x: convert_into_list(x))

In [26]:
# Checking the tone transformation
print(df.tone[0])
print(df.tone[0][0]+df.tone[0][1])

[1.76991150442478, 2.54424778761062, 0.774336283185841, 3.31858407079646, 18.9159292035398, 1.43805309734513, 849]
4.3141592920354

In [27]:
df['mean_tone'] = df.tone.apply(lambda x: np.average(x[:-1]))
df.mean_tone.head()

0    4.793510
1    5.200473
2    7.558860
3    5.083799
4    5.422058
Name: mean_tone, dtype: float64

In [29]:
df.date.iloc[0]

20151011213000.0

In [30]:
# Date conversion
df.date = df.date.apply(lambda x: datetime.strptime(str(int(x)), '%Y%m%d%H%M%S'))
df.date

0        2015-10-11 21:30:00
1        2015-10-11 21:30:00
2        2015-10-11 21:30:00
3        2015-10-16 04:30:00
4        2015-10-11 15:00:00
                 ...
773841   2023-03-07 13:45:00
773842   2023-03-07 19:15:00
773843   2023-03-07 19:15:00
773844   2023-03-07 19:15:00
773845   2023-03-07 19:15:00
Name: date, Length: 773846, dtype: datetime64[ns]

In [31]:
df.enhancedthemes.iloc[0]

'ECON_WORLDCURRENCIES_DOLLAR,2612;ECON_WORLDCURRENCIES_US_DOLLAR,2612;TAX_FNCACT_TENANTS,2567;TAX_FNCACT_TENANTS,2667;AFFECT,2532;NEGOTIATIONS,1137;NEGOTIATIONS,2805;NEGOTIATIONS,4173;WB_840_JUSTICE,1137;WB_840_JUSTICE,2805;WB_840_JUSTICE,4173;WB_2473_DIPLOMACY_AND_NEGOTIATIONS,1137;WB_2473_DIPLOMACY_AND_NEGOTIATIONS,2805;WB_2473_DIPLOMACY_AND_NEGOTIATIONS,4173;WB_939_NEGOTIATION,1137;WB_939_NEGOTIATION,2805;WB_939_NEGOTIATION,4173;WB_2470_PEACE_OPERATIONS_AND_CONFLICT_MANAGEMENT,1137;WB_2470_PEACE_OPERATIONS_AND_CONFLICT_MANAGEMENT,2805;WB_2470_PEACE_OPERATIONS_AND_CONFLICT_MANAGEMENT,4173;WB_936_ALTERNATIVE_DISPUTE_RESOLUTION,1137;WB_936_ALTERNATIVE_DISPUTE_RESOLUTION,2805;WB_936_ALTERNATIVE_DISPUTE_RESOLUTION,4173;WB_2432_FRAGILITY_CONFLICT_AND_VIOLENCE,1137;WB_2432_FRAGILITY_CONFLICT_AND_VIOLENCE,2805;WB_2432_FRAGILITY_CONFLICT_AND_VIOLENCE,4173;WB_843_DISPUTE_RESOLUTION,1137;WB_843_DISPUTE_RESOLUTION,2805;WB_843_DISPUTE_RESOLUTION,4173;WB_2471_PEACEKEEPING,1137;WB_2471_PEACEKEEPING,2805;WB_2471_PEACEKEEPING,4173;CRISISLEX_T11_UPDATESSYMPATHY,5033;ECON_HOUSING_PRICES,84;ECON_HOUSING_PRICES,1169;ECON_HOUSING_PRICES,3046;ECON_HOUSING_PRICES,3102;ECON_HOUSING_PRICES,3652;ECON_HOUSING_PRICES,4443;WB_678_DIGITAL_GOVERNMENT,4645;WB_694_BROADCAST_AND_MEDIA,4645;WB_133_INFORMATION_AND_COMMUNICATION_TECHNOLOGIES,4645;ECON_WORLDCURRENCIES_DOLLARS,2505;USPEC_POLICY1,5054;WB_368_LEASING,595;TAX_ECON_PRICE,2912;URBAN,1063;TAX_FNCACT_AGENT,677;TAX_FNCACT_AGENT,4691;TAX_ETHNICITY_ARAB,3287;TAX_FNCACT_WORKERS,1753;ECON_WORLDCURRENCIES_EGYPTIAN_POUNDS,2523;WB_845_LEGAL_AND_REGULATORY_FRAMEWORK,462;WB_845_LEGAL_AND_REGULATORY_FRAMEWORK,1970;WB_696_PUBLIC_SECTOR_MANAGEMENT,462;WB_696_PUBLIC_SECTOR_MANAGEMENT,1970;WB_851_INTELLECTUAL_PROPERTY_RIGHTS,462;WB_851_INTELLECTUAL_PROPERTY_RIGHTS,1970;WB_1042_TRADEMARKS,462;WB_1042_TRADEMARKS,1970;WB_1039_PROPERTY_LAWS_AND_REGULATIONS,462;WB_1039_PROPERTY_LAWS_AND_REGULATIONS,1970;'

In [12]:
#  Cleaning of the headlines
def headlines_cleaning(s_):
    s_ = str(s_)
    modified_str = [elem.split(',')[0] for elem in s_.split(';')] # delete the number after the coma

    final_str=[]
    separator=' '
    for s in modified_str:
        if s.split('_')[0]=='WB':
            final_str.append(separator.join(s.split('_')[2:]).split(' ')) # delete the prefix 'WB_XXX', remove underscore and split each word
        else:
            final_str.append(separator.join(s.split('_')).split(' '))

    # to get a list of words and not a list of sub lists
    merged_list = []
    for sublist in final_str:
        merged_list.extend(sublist)

    return(merged_list)

In [13]:
# Test of cleaning
original_str = 'WB_843_DISPUTE_RESOLUTION,1137;WB_843_DISPUTE_RESOLUTION,2805;TEST_TESTOS,2021'
res = headlines_cleaning(original_str)
print(res, res[0])

['DISPUTE', 'RESOLUTION', 'DISPUTE', 'RESOLUTION', 'TEST', 'TESTOS'] DISPUTE

In [14]:
df.enhancedthemes.apply(lambda x: headlines_cleaning(x))

0         [ECON, WORLDCURRENCIES, DOLLAR, ECON, WORLDCUR...
1         [MANMADE, DISASTER, IMPLIED, MANMADE, DISASTER...
2         [JOBS, SKILLS, AND, EDUCATION, JOBS, STRATEGIE...
3         [GENERAL, GOVERNMENT, GENERAL, GOVERNMENT, TAX...
4         [KIDNAP, EXTREMISM, BORDER, TAX, RELIGION, MUS...
                                ...
773841    [GENERAL, GOVERNMENT, GENERAL, GOVERNMENT, EPU...
773842    [GENERAL, HEALTH, MEDICAL, TAX, FNCACT, VICE, ...
773843                                                [nan]
773844    [GENERAL, GOVERNMENT, EPU, POLICY, GOVERNMENT,...
773845    [PROTEST, EPU, CATS, NATIONAL, SECURITY, TAX, ...
Name: enhancedthemes, Length: 773846, dtype: object

In [15]:
# Checking null values
null_counts = df.isnull().sum()
print(null_counts)
# Drop empty headlines/sources
df = df.dropna(subset=['enhancedthemes'])
df = df.dropna(subset=['subsourcecommonname'])

gkgrecordid                 0
date                        0
subsourcecommonname       103
documentidentifier          0
enhancedthemes          80673
enhancedlocations           0
tone                        0
extrasxml              221985
translationinfo        773846
mean_tone                   0
dtype: int64

In [16]:
# Definition of the filter keywords 
#country_filter = []
theme_filter = ['TRADE','MARKET']

# Filtering by theme
filtered_df = df[df['enhancedthemes'].apply(lambda x: any(keyword in x for keyword in theme_filter))]
# Filtering by country
#filtered_df = filtered_df[filtered_df[''].apply(lambda x: any(keyword in x for keyword in country_filter)) or filtered_df[''].apply(lambda x: any(keyword in x for keyword in country_filter))]
print(filtered_df)

                gkgrecordid                date   subsourcecommonname  \
0        20151011213000-456 2015-10-11 21:30:00    dailynewsegypt.com
5        20151011150000-539 2015-10-11 15:00:00             yahoo.com
8       20151017084500-1217 2015-10-17 08:45:00  barossaherald.com.au
15      20151017104500-1406 2015-10-17 10:45:00  cachevalleydaily.com
31       20151018111500-724 2015-10-18 11:15:00    dubaicityguide.com
...                     ...                 ...                   ...
773834   20230304123000-521 2023-03-04 12:30:00     coastaldigest.com
773836   20230301120000-766 2023-03-01 12:00:00          arabnews.com
773837   20230301120000-907 2023-03-01 12:00:00           dohanews.co
773839   20230307134500-702 2023-03-07 13:45:00    bignewsnetwork.com
773844  20230307191500-1232 2023-03-07 19:15:00        arabherald.com

                                       documentidentifier  \
0       http://www.dailynewsegypt.com/2015/10/11/tgm-m...
5       https://en-maktoob.news.yahoo.com/mideast-stoc...
8       http://www.barossaherald.com.au/story/3429242/...
15      http://www.cachevalleydaily.com/news/national/...
31      http://www.dubaicityguide.com/site/news/news-d...
...                                                   ...
773834  http://www.coastaldigest.com/nri-digest-top-st...
773836  https://www.arabnews.com/node/2260221/business...
773837  https://dohanews.co/egypt-seeks-joint-investme...
773839  https://www.bignewsnetwork.com/news/273601697/...
773844  https://www.arabherald.com/news/273602099/rela...

                                           enhancedthemes  \
0       ECON_WORLDCURRENCIES_DOLLAR,2612;ECON_WORLDCUR...
5       ECON_OILPRICE,114;ECON_STOCKMARKET,52;ECON_STO...
8       TAX_FNCACT_BACKBENCHER,2073;AGRICULTURE,907;AG...
15      TAX_FNCACT_CANDIDATES,163;TAX_FNCACT_CANDIDATE...
31      SOC_EMERGINGTECH,1781;WB_1467_EDUCATION_FOR_AL...
...                                                   ...
773834  TAX_ETHNICITY_INDIAN,237;TAX_ETHNICITY_INDIAN,...
773836  TAX_ECON_PRICE,396;ECON_STOCKMARKET,231;CRISIS...
773837  BLOCKADE,2750;SEIGE,2750;GENERAL_GOVERNMENT,10...
773839  GENERAL_GOVERNMENT,847;GENERAL_GOVERNMENT,976;...
773844  GENERAL_GOVERNMENT,1283;EPU_POLICY_GOVERNMENT,...

                                        enhancedlocations  \
0       4#Milan, Lombardia, Italy#IT#IT09#18363#45.466...
5       4#First Gulf Bank, Dubayy, United Arab Emirate...
8       1#Indonesian#ID#ID##-5#120#ID#432;1#Australian...
15      4#Alexandria, Al Iskandariyah, Egypt#EG#EG06#6...
31      4#Dubai, Dubayy, United Arab Emirates#AE#AE03#...
...                                                   ...
773834  1#Saudi Arabian#SA#SA##25#45#SA#2114;1#India#I...
773836  1#Hong Kong#HK#HK##22.25#114.166667#HK#225;4#R...
773837  1#Russia#RS#RS##60#100#RS#1774;1#Qatari#QA#QA#...
773839  4#Dubai, Dubayy, United Arab Emirates#AE#AE03#...
773844  1#India#IN#IN##20#77#IN#16;1#India#IN#IN##20#7...

                                                     tone  \
0       [1.76991150442478, 2.54424778761062, 0.7743362...
5       [0.465116279069767, 0.930232558139535, 0.46511...
8       [-4.93506493506493, 2.07792207792208, 7.012987...
15      [0.453857791225415, 5.29500756429652, 4.841149...
31      [3.93873085339168, 4.37636761487965, 0.4376367...
...                                                   ...
773834  [5.82706766917293, 5.82706766917293, 0, 5.8270...
773836  [0.719424460431655, 1.43884892086331, 0.719424...
773837  [0.568181818181818, 3.03030303030303, 2.462121...
773839  [7.73809523809524, 10.1190476190476, 2.3809523...
773844  [4.77657935285054, 4.77657935285054, 0, 4.7765...

                                                extrasxml  translationinfo  \
0                                                     NaN              NaN
5                                                     NaN              NaN
8                                                     NaN              NaN
15                                                    NaN              NaN
31                                                    NaN              NaN
...                                                   ...              ...
773834  <PAGE_TITLE>'India-Saudi relations reaching ne...              NaN
773836  <PAGE_PRECISEPUBTIMESTAMP>20230301085100</PAGE...              NaN
773837  <PAGE_LINKS>https://www.bloomberg.com/news/art...              NaN
773839  <PAGE_TITLE>Federal Tax Authority launches 'Ta...              NaN
773844  <PAGE_TITLE>"Relationship with India top prior...              NaN

         mean_tone
0       125.394437
5        33.189369
8        53.346939
15      256.463151
31       66.305408
...            ...
773834   74.707841
773836   23.933196
773837   73.777056
773839   50.316327
773844   89.326877

[193108 rows x 10 columns]

In [17]:
# Count the filtered number of articles per year
nb_articles= filtered_df.groupby(df.date.dt.year)['enhancedthemes'].count()
print(nb_articles)

date
2015    24118
2016    36233
2017    30000
2018    29438
2019    24705
2020    18903
2021    14537
2022    12999
2023     2175
Name: enhancedthemes, dtype: int64

In [33]:
# Average of the tone of articles per year ONLY for the example // We will need to replace the mean of all values by another function
avg_tone = filtered_df.groupby(df.date.dt.year)['mean_tone'].mean()
print(avg_tone)
# Here we obtain a list of the mean tone for each article of a specific year

date
2015    130.026312
2016    130.700725
2017    131.862374
2018    122.880840
2019    121.250576
2020    130.767636
2021    127.362380
2022    126.755541
2023    123.616901
Name: mean_tone, dtype: float64